.header1 {
  text-align: center;
}

.personalinfocontentwrapper {
  display: flex;
  flex-direction: column;
}

.personalinfoinner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid black;
}

.personalinfop1 {
  width: fit-content;
  font-weight: bold;
}
.personalinfop2 {
  width: fit-content;
}
